Установить Anaconda и Git. Создать репозиторий на GitHub.

Выложить в репозиторий на гитхабе (в ветку master) в отдельную папку (можно назвать ее 01-homework, например) ноутбук с решением хотя бы двух задач (систему со сложностью обговаривали на занятии)

In [3]:
# Easy
#Нужно написать функцию, которая на вход получает список из чисел, а на выходе дает список, где каждое 
#число возведено в квадрат. Решать при помощи цикла.
list_example = [1, 0, 2, 3, 10, 4, 18, 5]
def square_list(input_list):
    input_list[::] = map(lambda x: x*x, input_list[::])
    return input_list
square_list(list_example)

[1, 0, 4, 9, 100, 16, 324, 25]

In [4]:
list1=list(range(10))
list1
square_list(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
list2 = list(range(100))
square_list(list2)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [6]:
list3 = list()
square_list(list3)

[]

In [7]:
#Normal
#Тоже самое, но на этот раз без цикла (смотрим раздел с функциями из ноутбука, который разбирали в классе). 
#Сравнить скорость выполнения первого и второго варианта.
list_example = [1, 0, 2, 3, 10, 4, 18, 5]
def square_list(input_list):
    new_list = []
    for x in input_list:
        new_list.append(x * x)
    return new_list
square_list(list_example)

[1, 0, 4, 9, 100, 16, 324, 25]

In [8]:
list1=list(range(10))
list1
square_list(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
list2 = list(range(100))
square_list(list2)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [9]:
list3 = list()
square_list(list3)

[]

In [11]:
# Hard
# Написать функцию, которая на вход принимает список, а возвращает словарь со среднием, медианой и модой, например 
# вот такой: {"mean": ..., "median": ..., "mode": ...}. На следующем занятии разберем как это сделать при помощи библиотек, а пока нужно 
# реализовать просто по формулам.

In [ ]:
ict_example = {"name": "Alex", "id": 1}

print(dict_example, type(dict_example))
print(dict_example["id"])

dict_example["age"] = 25
print(dict_example)
{'name': 'Alex', 'id': 1} <class 'dict'>
1
{'name': 'Alex', 'id': 1, 'age': 25}
name2age = {"Alex": 25, "Maria": 45}
dict_example.keys()
dict_keys(['name', 'id', 'age'])
dict_example.items()
dict_items([('name', 'Alex'), ('id', 1), ('age', 25)])


keys = ["id", "value"]
values = [1, 125]
new_dict = {keys[i]: values[i] for i in range(len(keys))}
print(new_dict)

In [17]:
list1=list(range(10))
mean = sum(list1)/len(list1)
print(mean)

4.5

In [29]:
list1 = [1, 2, 3, 5, 10, 4, 18, 5]
listx=[]
for i in list1:
    a = list1.count(i)
    listx.append(i)

print(listx)

[1, 2, 3, 5, 10, 4, 18, 5]